<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
<h1>FinTrack</h1>
<ul>
  <li><a href="billreminders">Bill Reminders</a></li>
  <li><a href="budget">Budget Management</a></li>
  <li><a href="expenseadd">Add Expense</a></li>
  <li><a href="expenses">Add Expense Receipt</a></li>
  <li><a href="financial_goal">Financial Goals</a></li>
  <li><a href="financialReports">Goal Tracking</a></li>
  <li><a href="income">Income Tracking</a></li>
</ul>
</body>
</html>
